* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;



}


#navbar {
    position: relative;
}

#navbar {
    display: flex;

    align-items: center;
    font-family: 'Rubik', sans-serif;
    justify-content: space-around;



}

#navbar::before {
    content: "";
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;

    z-index: -1;
    opacity: .0;



}

#logo {
    margin: 22px -170px;
    color: white;
}

#logo h1{
    font-size: 2rem;
    margin-left: 30px;
}



#navbar ul {
    display: flex;
}



#navbar ul li {
    list-style: none;
    font-size: 1.7rem;
}


#navbar ul li a {
    color: rgb(245, 242, 242);
    display: block;
    border-radius: 20px;
    text-decoration: none;
    margin: 1px 38px;
    padding: 3px 22px;

}


#navbar ul li a:hover {
    color: black;
    background-color: white;
    /* transition: 0.4s;*/


}


.Rolex video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9) {

    .rolex video {
        width: 100%;
        height: auto;
    }

}

.sec {
    height: 90vh;
}

.content {
    position: absolute;
    width: 100%;
    top: 45%;

}

.content h1 {
    font-size: 4rem;
    color: rgb(181, 180, 180);
    margin-left: 30px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
}


.Ads-1 {

    background-color: rgb(0, 0, 0);

    height: 100vh;




}

.a-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}


.a-2 {
    color: white;
    flex-basis: 50%;
    min-width: 300px;
    display: flex;
    font-size: 2.5rem;
}

.a-3 {
    color: white;
    width: 500px;
}


.Ads-2{
    height: 100vh;
}

.Asian {
    display: flex;
  
    align-items: center;
    flex-direction: row;
    padding: 7px 94px;

}

.Asian img {
    height: 307px;
    width: 268px;
    padding: 68px 26px;
    margin-right: 176px;


}

.Asian p{
    font-size: 2rem;
    margin-bottom: 30px;
}
.jacob{
    align-items: center;
    justify-content: center;
    height: 181px;
    width: 313px;
    padding: 0px 578px;
    margin-top: 42px;
}

.dis-jacob{
    display: block;
    position: absolute;
    padding: 0px 263px;
    text-decoration: none;
    color: black;
}

.dis-jacob::before{
display: inline-block;
content: "";
width: 44px;
height: 2px;
background-color: #456148;
margin-bottom: 4px;
margin-right: 8px;

transition: width .3s ease-in-out;
}
.dis-jacob:hover:before {
    width: 10px;
}




.Ads-3{
    height: 100vh;
    background-color: black;
}
.Asian-2{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px 94px;
}

.patekk img{
   
    width: 214px;
    height: 216px;
    padding: 9px 635px;
}
.logs-2 img{
    height: 374px;
    width: 354px;
    padding: 3px 42px;
}



.patek-info p{
    color:rgb(129, 116, 84);
    font-size: 2rem;
    padding: 25px 96px;
    margin: 5px -7px;
    margin-bottom: 41px;
}

.dis-patek{
    display: block;
    position: absolute;
    padding: 0px 263px;
    text-decoration: none;
    color: rgb(168, 158, 102);
}

.dis-patek::before{
    display: inline-block;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #b6af62;
    margin-bottom: 4px;
    margin-right: 8px;
    
    transition: width .3s ease-in-out;
    }
    .dis-patek:hover:before {
        width: 44px;
    }


    .Ads-4{
        background-color: rgb(224, 255, 224);
        
        height: 100vh;
        
    }

    .Asian-3 {
        display: flex;
      
        align-items: center;
        flex-direction: row;
       
    
    }


.Rolex img{
    height: 114px;
    width: 166px;
    padding: 24px 634px;
   
}

.rolex-info p{
    font-size: 1.5rem;
    color: green;
    padding: 19px 205px;
}

.logs-3 img{
    height: 349px;
    width: 563px;
}
.dis-rolex{
    display: block;
    position: absolute;
    padding: 0px 263px;
    text-decoration: none;
    color: rgb(168, 158, 102);
}

.dis-rolex::before{
    display: inline-block;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #b6af62;
    margin-bottom: 4px;
    margin-right: 8px;
    
    transition: width .3s ease-in-out;
    }
    .dis-rolex:hover:before {
        width: 44px;
    }

    
    .Ads-5{
        background-color: rgb(202, 202, 202);
        
        height: 100vh;
        
    }

    .Asian-4 {
        display: flex;
      
        align-items: center;
        flex-direction: row;
       
    
    }


.AP img{
    height: 209px;
    width: 215px;
    padding: 2px 583px;
}

.AP-info p{
    font-size: 1.5rem;
    color: rgb(69, 67, 67);
    padding: 16px 21px;
    padding-right: 234px;
    margin-left: 78px;
}


.logs-4 img{
    height: 408px;
    width: 303px;
    margin-left: 0px;
    margin-right: 163px;
}


.dis-AP{
    display: block;
    position: absolute;
    padding: 0px 263px;
    text-decoration: none;
    color: rgb(168, 158, 102);
}

.dis-AP::before{
    display: inline-block;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #b6af62;
    margin-bottom: 4px;
    margin-right: 8px;
    
    transition: width .3s ease-in-out;
    }
    .dis-AP:hover:before {
        width: 44px;
    }





    .Ads-7{
        background-color: rgb(160, 160, 160);
        
        height: 100vh;
        
    }

    .Asian-5{
        display: flex;
      
        align-items: center;
        flex-direction: row;
       
    
    }



   
    .RM img{
        height: 23px;
        width: 215px;
        padding: 49px 583px;
        margin-bottom:40px
    }
    



.RM-info p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 19px 205px;
}

.logs-5 img{
    height: 421px;
    width: 434px;
    margin-left: 88px;
}
.dis-RM{
    display: block;
    position: absolute;
    padding: 0px 263px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.dis-RM::before{
    display: inline-block;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #b6af62;
    margin-bottom: 4px;
    margin-right: 8px;
    
    transition: width .3s ease-in-out;
    }
    .dis-RM:hover:before {
        width: 44px;
    }



footer{
    background-color: aliceblue;
}
.foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.foot h4 {
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    color: #000;
}

.sage {
    margin-left: 20px;
}

.sage p {
    margin-bottom: 20px;
}

.sage h1 {
    color: rgb(12, 12, 12);
    line-height: 90px;
    font-weight: 900;


}






.foot a {
    font-size: 20px;
    padding-bottom: 20px;
    color: #000;
    text-decoration: none;
}


.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.account {
    display: flex;
    flex-direction: column;
}

.center {
    background-color: #000;
    color: #fff;
}


#play-store {

    width: 215px;
    height: 76px;
}

#app-store {

    width: 204px;
    height: 113px;
}

.install-App {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}