<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="..//static/css/ciollect.css">
    <title>collection </title>
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <!-- <img src="TTT logo.jpg" alt="my infotech website ">-->
            <h1>TempestTimeTrades</h1>
        </div>
        <div class="nav-links" id="navbar-links">
        <ul>
            <li class="item"><a href="index.html">Home</a></li>
            <li class="item"><a href="collect.html">Collection</a></li>
            <li class="item"><a href="contact.html">Contact us</a></li>
            <li class="item"><a href="Explore.html">Explore</a>   </li>

        </ul>
    </div>
        <a href="" class="nav-toggle" id="nav-toggle">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>

    <section id="product-1">

        <div class="head">
            <h1 class="heads">Best Selling Watches </h1>
            <p class="heads">here are some special collections </p>

        </div>

        <div class="product-container">
         <a href="https://www.omegawatches.com/watches/speedmaster">   <div class="prod-1">
                <img src="../static/assets/Omega-WC.png" alt="">
                <div class="des">
                    <h4>Omega Speedmaster</h4>
                    

         
                </div>
                <a href="#"><i></i></a>
            </div>
        </a>




          <a href="https://www.richardmille.com/historical-models/rm-50-01-tourbillon-romain-grosjean">  <div class="prod-2">
                <img src="../static/assets/RM1-WC.jpg" alt="">
                <div class="des">
                    <h4>Richard Mille 50-01</h4>
                    

        
                </div>
                <a href="#"><i ></i></a>
            </div></a>



            <a href="https://www.richardmille.com/historical-models/rm-56-02-tourbillon-sapphire"><div class="prod-3">
                <img src="../static/assets/Richard_Mille_Tourbillon-RM-56-02.jpg" alt="">
                <div class="des">
                    <h4>Richard Mille Richard_Mille_Tourbillon-RM-56-02 </h4>
                    

           
                </div>
                <a href="#"><i ></i></a>
            </div> </a>




          <a href="https://www.audemarspiguet.com/com/en/watch-collection/royal-oak-concept/26620IO.OO.D077CA.01.html"> <div class="prod-4">
                <img src="../static/assets/Ap-panther-WC.png" alt="">
                <div class="des">
                    <h4>Audemars Piguet Black Panther </h4>
                    

        
                </div>
                <a href="#"><i></i></a>
            </div></a>




           <a href="https://www.patek.com/en/home"> <div class="prod-5">
                <img src="../static/assets/Patek2-WC.png" alt="">
                <div class="des">
                    <h4>  Patek Phillipe Asprey </h4>
                    

           
                </div>
                <a href="#"><i ></i></a>
            </div></a>




           <a href="https://www.patek.com/en/home">  <div class="prod-6">
                <img src="../static/assets/Patek3-WC.png" alt="">
                <div class="des">
                    <h4>Patek Phillipe Emareld dial </h4>
                    

          
                </div>
                <a href="#"><i></i></a>
            </div></a>




           <a href="https://www.rolex.com/watches/datejust/m126233-0015"> <div class="prod-7">
                <img src="../static/assets/Rolexdatejust-WC.avif" alt="">
                <div class="des">
                    <h4>Rolex Datejust  </h4>
                    

        
                </div>
                <a href="#"><i ></i></a>
            </div></a>





            <a href="https://www.rolex.com/watches/cosmograph-daytona/m126506-0001"><div class="prod-8">
                <img src="../static/assets/Rolexdaytone_WC.avif" alt="">
                <div class="des">
                    <h4>Rolex Daytona </h4>
                    

          
                </div>
                <a href="#"><i ></i></a>
            </div>/a>


        </div>

    </section>






</body>

</html>