<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet" href="collection.css">

    <div class="header">
        <nav id="navbar">
            <div id="logo">
                <!-- <img src="TTT logo.jpg" alt="my infotech website ">-->
                <h1>Tempest Time Trades</h1>
            </div>
            <ul>
                <li class="item"><a href="index.html">Home</a></li>
                <li class="item"><a href="*">Collection</a></li>
                <li class="item"><a href="Explore.html">Contact us</a></li>
                <li class="item"><a href="*">Explore</a></li>

            </ul>
        </nav>

        <div class="name">
            <h3>Watch Collections </h3>

        </div>

    </div>


    <div class="container">

        <div class="photo">
            <a><img src="Rolex-datejust.png" alt=""> </a>
            </div>



            <div class="data">
                <h3>Rolex Datejust</h3>
            </div>




            <div class="p-1">
                <img width="123px " height="100px" src="Omega-WC.png" alt="">

                <div class="data">
                    <h3>Omega Speedmaster 57</h3>
                </div>
            </div>



            <div class="p-3 text-center">
                <img src="Ap-panther-WC.png" alt="">

                <div class="data">
                    <h3>Audemars Piguet <br>Black panther</h3>
                </div>
            </div>


            <div class="p-4">
                <a><img src="Ap2-WC.avif" alt=""> </a>

                <div class="data">
                    <h3>Rolex Datejust</h3>
                </div>
            </div>



            <div class="p-5">
                <img src="AP3-Wc.png" alt="">

                <div class="data">
                    <h3>Rolex Datejust</h3>
                </div>
            </div>




            <div class="p-6">
                <img src="Patek1-WC.avif" alt="">

                <div class="data">
                    <h3>Rolex Datejust</h3>
                </div>
            </div>


            <div class="p-7">
                <img src="Patek2-WC.png" alt="">

                <div class="data">
                    <h3>Rolex Datejust</h3>
                </div>
            </div>



            <div class="p-8">
                <img src="patek-watch.png" alt="">

                <div class="data">
                    <h3>Rolex Datejust</h3>
                </div>
            </div>



            <div class="p-9">
                <img src="RolexDaydate-WC.png" alt="">

                <div class="data">
                    <h3>Rolex Datejust</h3>
                </div>
            </div>



            <div class="p-10">
                <img src="Rolexdaytone_WC.avif" alt="">

                <div class="data">
                    <h3>Rolex Datejust</h3>
                </div>

            </div>


            <div class="p-11">
                <img src="RM1-WC.jpg" alt="">

                <div class="data">
                    <h3>Rolex Datejust</h3>
                </div>
            </div>



            <div class="p-12">
                <img src="Richard_Mille_Tourbillon-RM-56-02.jpg" alt="">

                <div class="data">
                    <h3>Rolex Datejust</h3>
                </div>
            </div>




        </div>


        </body>

</html>