<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Explore  </title>
    <link rel="stylesheet" href="../static/css/Explore.css">
    <link rel="stylesheet" media="screen and (max-width:1350px )" and href="../static/css/phone.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script&family=Inter:wght@200&family=Playfair+Display&family=Rubik:wght@300&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="header">
        <nav id="navbar">
            <div id="logo">
                <!-- <img src="TTT logo.jpg" alt="my infotech website ">-->
                <h1>Tempest Time Trades</h1>
            </div>
            <ul>
                <li class="item"><a href="index.html">Home</a></li>
                <li class="item"><a href="collecting.html">Collection</a></li>
                <li class="item"><a href="contact.html">Contact us</a></li>
                <li class="item"><a href="Explore.html">Explore</a></li>

            </ul>
        </nav>

    </div>




    <section class="sec">
        <div class="content ">
            <h1> Our Timepieces become your <br>statement of style</h1>
        </div>




        <div class="Rolex">
            <video autoplay muted loop plays-inline>

                <source src="../static/assets/Rolexfinal2.mp4" type="video/mp4">
            </video>
        </div>


    </section>

    <section class="Ads-1">

        <div class="a-1">
            <div class="a-2">

                <h1>Tempest Time Trades</h1>

            </div>

            <div class="a-3">
                <p>Welcome to TempestTimeTrades, an extraordinary online destination that redefines the way luxury watches are traded and celebrated. Rooted in a passion for authenticity, exclusivity, and craftsmanship, TempestTimeTrades offers a platform that connects elite customers, luxury watch enthusiasts, and seasoned collectors in a world of horological excellence.
                </p>
            </div>
        </div>


    </section>

    <section class="Ads-2">
        <img class="jacob" src="../static/assets/jacob-co-logo-vector.png" alt="">
        <div class="Asian">
            <div class="logs">
                <img src="../static/assets/jacob-watch-img.png" alt="">

            </div>

            <div class="info-1">
                <p>
                    Jacob & Co. is a prestigious luxury watch brand celebrated for its extravagant and avant-garde
                    timepieces that blend intricate complications with exceptional craftsmanship, appealing to
                    discerning collectors worldwide.</p>

                <a class="dis-jacob" href="https://jacobandco.com/" target="_self">Discover more </a>
            </div>
        </div>


    </section>



    <section class="Ads-3">
        <div class="patekk">
            <img src="../static/assets/patek-philippelogo-gold.png" alt="">
        </div>
        <div class="Asian-2">

            <div class="patek-info">
                <p>Patek Philippe, the legendary Swiss watchmaker, is renowned for crafting exquisite timepieces that
                    embody the pinnacle of luxury, precision, and timeless elegance, revered by watch enthusiasts around
                    the globe.</p>

                <a class="dis-patek" href="https://www.patek.com/en/home" target="_self">Discover more </a>

            </div>
            <div class="logs-2">

                <img src="../static/assets/patek-watch.png" alt="">

            </div>

        </div>



    </section>

    <section class="Ads-4">
        <div class="Rolex">
            <img src="../static/assets/Rolesx-logo-2.png" alt="">
        </div>
        <div class="Asian-3">

            <div class="logs-3">

                <img src="../static/assets/Rolex-datejust.png" alt="">

            </div>

            <div class="rolex-info">
                <p>Rolex, the iconic Swiss watch brand, is synonymous with luxury, precision, and timeless style,
                    crafting exceptional timepieces that have become symbols of success and achievement.</p>

                <a class="dis-rolex" href="" target="_self">Discover more </a>

            </div>

        </div>

    </section>


    <section class="Ads-5">
        <div class="AP">
            <img src="../static/assets/audemars-piguet-logo-black-and-white.png" alt="">
        </div>
        <div class="Asian-4">

            <div class="AP-info">
                <p>Audemars Piguet, the esteemed Swiss watchmaker, is revered for its avant-garde designs and
                    exceptional craftsmanship, producing timepieces that epitomize luxury and innovation in the world of
                    haute horlogerie.</p>

                <a class="dis-AP" href="" target="_self">Discover more </a>

            </div>

            <div class="logs-4">

                <img src="../static/assets/Ap-watch.png" alt="">

            </div>



        </div>

    </section>


    <section class="Ads-7">
        <div class="RM">

            <img src="../static/assets/Richard_Mille_Logo.svg.png" alt="">


        </div>
        <div class="Asian-5">

            <div class="logs-5">


                <img src="../static/assets/RMMM.avif" alt="">

            </div>




            <div class="RM-info">
                <p>Richard Mille, the renowned luxury watch brand, is known for its groundbreaking engineering,
                    lightweight materials, and futuristic designs, creating timepieces that blend technical innovation
                    with ultimate performance and exclusivity.</p>

                <a class="dis-RM" href="" target="_self">Discover more </a>

            </div>
        </div>


        </div>

    </section>







    <footer class="Adidas">
        <div class="foot">


            <div class="sage">

                <h1>TempestTimeTrades</h1>
                <h4>contact</h4>
                <p>Address: 61 Wall Sreet , Washington Road , Chicago </p>

                <p><strong>Phone:</strong>+01 3453 3455</p>
                <p><strong>Timing:</strong> 10:00 -11:00 , 24x7</p>

                <div class="icon">

                    <i id="facebook" class="fa-brands fa-facebook"></i>
                </div>


            </div>



            <div class="about">
                <h4>About </h4>

                <a href="">About us</a>
                <a href="">Delivery Information</a>
                <a href="">Privacy policy </a>
                <a href="">Terms & Conditions</a>
                <a href="">Contact Us</a>


            </div>



            <div class="account">
                <h4>My Account </h4>

                <a href="">Sign in</a>
                <a href="">View Cart</a>
                <a href=""> My Wishlist</a>
                <a href="">Track My Order</a>
                <a href="">Help</a>

            </div>

            <div class="install-App">
                <h4>Install App </h4>
                <p>From App Store or Google play</p>

                <img id="play-store" src="play-store-logo.png" alt="">

                <img id="app-store" src="App-Store-Symbol.png" alt="">

                <p>Secured Payment Gateways </p>


            </div>

        </div>
        <div class="center">
            Copyright &copy; www.TempestTimeTrades.com All rights reserved
        </div>

    </footer>






</body>

</html>